/*Estilos para el título h1*/
h1 {
    color: #c25eb6;
    font-family: fantasy;
}

/*Estilos para el título h2*/
h2 {
    color: #dda8d4;
    font-family: monospace;
}

p {
    color: #ffe6ff;
    font-family: cursive;
    text-align: center;
    font-size: 24px;
}